asgiref==3.8.1
Django==5.2
gunicorn==23.0.0
packaging==24.2
pillow==11.1.0
sqlparse==0.5.3


# Виртуалдык чөйрө
venv/
env/
*.venv

# Python кэш жана компиляцияланган файлдар
__pycache__/
*.py[cod]
*$py.class

# Django локалдык орнотуулары
db.sqlite3
*.log
local_settings.py
.env

# Иштетүү системасынын файлдары
.DS_Store
Thumbs.db

# Медиа файлдар (керек болсо, репозиторийге кошпойбуз)
/media/

# Статикалык файлдарды чогултуучу папка (кийин түзүлөт)
/staticfiles/